body {
  background-image: url(./assets/chalk-bg.jpg) !important;
  background-size: 100% 100% !important;
}

html {
  height: 100vh;
}

.chalk-border {
  border: 20px solid;
  border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png")
    20;
}

.chalk-border:before {
  content: "";
}

@font-face {
  font-family: "Rudiment";
  src: local("Rudiment"), url(./assets/Rudiment.ttf) format("truetype");
}
